@model IEnumerable<TVShow>

@{
    ViewData["Title"] = "TV Shows with Language";
}


<div class="row">
    @foreach (var tvShow in Model)
    {
        <div class="col mb-5" style="width:60%">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="~/img/TV_Show/@(tvShow.Id).jpg" alt="Image for @tvShow.Title" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">@tvShow.Title</h5>
                        <!-- Product rating-->
                        @tvShow.Rating
                    </div>
                </div>
                <!-- Product actions-->
                <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" href="@tvShow.URL">Go to IMDB</a>
                </div>
            </div>
        </div>
    }
</div>
